<div class="introduction-column">
  <div class="projects-heading">
    <h1>{{ projectsIntroduction.title }}</h1>
  </div>
  <div class="projects-subheading">
    <h2>{{ projectsIntroduction.subtitle }}</h2>
  </div>
  <div class="introduction-list">
    <ul>
      <li>{{ projectsIntroduction.features.box1 }}</li>
      <li>{{ projectsIntroduction.features.box2 }}</li>
      <li>{{ projectsIntroduction.features.box3 }}</li>
      <li>{{ projectsIntroduction.features.box4 }}</li>
    </ul>
  </div>
  <div class="projects-filter">
    <button class="all-projects">
      {{ projectsIntroduction.buttons.text1 }}
    </button>
    <button class="angular-projects">
      {{ projectsIntroduction.buttons.text2 }}
    </button>
    <button class="react-projects">
      {{ projectsIntroduction.buttons.text3 }}
    </button>
    <button class="components">{{ projectsIntroduction.buttons.text4 }}</button>
  </div>
  <div class="projects-strapline">{{ projectsIntroduction.strapline }}</div>
</div>
